{% set presenttoshopper = false %}
{% for property in args.order.additionalInformation %}
    {% if property.name == constant('Plugins\\ComLogicommerceAdyen\\Enums\\AdditionalInformationNames::ADYEN_ACTION')
        and property.value == constant('Plugins\\ComLogicommerceAdyen\\Enums\\AdditionalInformationNames::PRESENT_TO_SHOPPER') %}
        {% set presenttoshopper = true %}
    {% endif %}
{% endfor %}
{% if presenttoshopper %}
    <div class="confirmOrderContent">
        {% for property in args.order.additionalInformation %}
            {% if property.name == constant('Plugins\\ComLogicommerceAdyen\\Enums\\AdditionalInformationNames::PRESENT_TO_SHOPPER_ENTITY') %}
            <div class="confirmOrderText confirmOrderData confirmOrderOrderId adyen-{{property.name}}">
                {{ languageSheet[constant('Plugins\\ComLogicommerceAdyen\\Enums\\LanguageLabels::COM_LOGICOMMERCE_ADYEN_ENTITY')] }}: {{property.value}}
            </div>
            {% endif %}
            {% if property.name == constant('Plugins\\ComLogicommerceAdyen\\Enums\\AdditionalInformationNames::PRESENT_TO_SHOPPER_EXPIRY_DATE') %}
            <div class="confirmOrderText confirmOrderData confirmOrderOrderId adyen-{{property.name}}">
                {{ languageSheet[constant('Plugins\\ComLogicommerceAdyen\\Enums\\LanguageLabels::COM_LOGICOMMERCE_ADYEN_EXPIRY_DATE')] }}: {{ formatDateTime(property.values.expiryDate) }}
            </div>
            {% endif %}
            {% if property.name == constant('Plugins\\ComLogicommerceAdyen\\Enums\\AdditionalInformationNames::PRESENT_TO_SHOPPER_REFERENCE') %}
            <div class="confirmOrderText confirmOrderData confirmOrderOrderId adyen-{{property.name}}">
                {{ languageSheet[constant('Plugins\\ComLogicommerceAdyen\\Enums\\LanguageLabels::COM_LOGICOMMERCE_ADYEN_REFERENCE')] }}: {{property.value}}
            </div>
            {% endif %}
            {% if property.name == constant('Plugins\\ComLogicommerceAdyen\\Enums\\AdditionalInformationNames::PRESENT_TO_SHOPPER_QR_CODEDATA') %}
            <div class="confirmOrderText confirmOrderData confirmOrderOrderId adyen-{{property.name}}">
                {{property.value}}
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}