
<div class="userPaymentCards userPaymentCardData">
    <div class="field name">
        {{ languageSheet[constant('Plugins\\ComLogicommerceSprinque\\Enums\\LanguageLabels::COM_LOGICOMMERCE_SPRINQUE_NAME')] }}:
        {{ pluginPaymentToken.data.name }}
    </div>
    <div class="field identifier">
        {{ languageSheet[constant('Plugins\\ComLogicommerceSprinque\\Enums\\LanguageLabels::COM_LOGICOMMERCE_SPRINQUE_IDENTIFIED')] }}:
        {{ pluginPaymentToken.data.identifier }}
    </div>
    <div class="field creditStatus">
        {{ languageSheet[constant('Plugins\\ComLogicommerceSprinque\\Enums\\LanguageLabels::COM_LOGICOMMERCE_SPRINQUE_CREDIT_STAUTS')] }}:
        {{ pluginPaymentToken.data.creditStatus }}
    </div>
    <div class="field creditLimit">
        {{ languageSheet[constant('Plugins\\ComLogicommerceSprinque\\Enums\\LanguageLabels::COM_LOGICOMMERCE_SPRINQUE_CREDIT_LIMIT')] }}:
        {{ pluginPaymentToken.data.creditLimit }}
    </div>
    <div class="field creditStatus">
        {{ languageSheet[constant('Plugins\\ComLogicommerceSprinque\\Enums\\LanguageLabels::COM_LOGICOMMERCE_SPRINQUE_AVAILABLE_CREDIT_LIMIT')] }}:
        {{ pluginPaymentToken.data.availableCreditLimit }}
    </div>
</div>