
{%- extends layout -%}

{%- block headContent -%}
    {{ parent() }}
    {%- if mfShowAssets -%}
        <link id="mff-custom-css" rel="stylesheet" href="{{ mfCustomCssUrl }}">
    {%- endif -%}
{%- endblock headContent -%}

{%- block content -%}
    {%- if mfCanvasMode -%}
        <div data-mff-anchor="__page_start__"></div>
    {%- endif -%}
    {% import macrosCore.widget as widgetMacros %}
    {{ widgetMacros.widgets({
        pages: pages,
        version: version,
        widgetTemplateList: widgetTemplateList
    }) }}
{%- endblock content -%}

{%- block jsAssets -%}
    {{ parent() }}
    {%- if mfShowAssets -%}
        <script id="mff-custom-js" src="{{ mfCustomJsUrl }}"></script>
    {%- endif -%}
    {%- if mfCanvasMode -%}
        <script type="module" src="{{ mfAssetsUrl }}"></script>
    {%- endif -%}
{%- endblock jsAssets -%}
