
{% set tokenizable = false %}

{% for property in paymentSystem.pluginPropertiesConnectorItemProperties %}
    {% if property.name == constant('Plugins\\ComLogicommerceBizum\\Enums\\PluginPropertiesConnectorItemPropertyNames::TOKENIZABLE') %}
        {% set tokenizable = property.value == 'true'?true:false  %}
    {% endif %}
{% endfor %}

{% if tokenizable and paymentSystem.properties|length > 0 %}
    <input type="hidden" name="module" class="basketSelectorPaymentAdditionalData_{{ paymentSystem.id }}" id="basketSelectorPayment_{{ paymentSystem.id }}_additionalData" value='{{paymentSystem.module}}'>
    <input type="checkbox" name="saveToken" class="basketSelectorPaymentAdditionalData_{{ paymentSystem.id }}" id="basketSelectorPayment_{{ paymentSystem.id }}_additionalData_saveToken" value='1' checked="true" onclick="this.checked?this.value=1:this.value=0">

    <label class="basketSelectorName paymentSystemSelectorName" for="basketSelectorPayment_{{ paymentSystem.id }}_additionalData_saveToken">
        {{ languageSheet[constant('Plugins\\ComLogicommerceBizum\\Enums\\LanguageLabels::COM_LOGICOMMERCE_BIZUM_SAVE_TOKEN')] }}:
    </label>              

    <div class="basketSelector paymentSystemSelectorProperties ">
        {% for property in paymentSystem.properties|sort((a,b)=>a.values.cardNumber<=>b.values.cardNumber)  %}
            {% set paymentPropertyValue = {
                'id': paymentSystem.id,
                'property': property.name
            } %}
            <div class="basketSelector paymentSystemSelector {% if property.selected == true %} basketSelectorSelected paymentSystemSelectorSelected {% endif %}">
                <input 
                    class="basketSelectorInput basketSelectorPaymentInput" 
                    type="radio" 
                    name="basketSelectorPaymentProperty" 
                    value='{{ outputJsonHtmlString(paymentPropertyValue) }}' 
                    id="basketSelectorPaymentProperty_{{ paymentSystem.id }}_{{property.name}}" 
                    autocomplete="off" 
                    {% if property.selected == true %} checked="checked" {% endif %}
                >
                <label class="basketSelectorName paymentSystemSelectorName" for="basketSelectorPaymentProperty_{{ paymentSystem.id }}_{{property.name}}">
                    {{ languageSheet[constant('Plugins\\ComLogicommerceBizum\\Enums\\LanguageLabels::COM_LOGICOMMERCE_BIZUM_IDENTIFIED')] }}:
                    {{ property.values.identifier }}</br>
                    {{ languageSheet[constant('Plugins\\ComLogicommerceBizum\\Enums\\LanguageLabels::COM_LOGICOMMERCE_BIZUM_CARD_NUMBER')] }}:
                    {{ property.values.cardNumber }}</br>
                    {{ languageSheet[constant('Plugins\\ComLogicommerceBizum\\Enums\\LanguageLabels::COM_LOGICOMMERCE_BIZUM_EXPIRY_DATE')] }}:
                    {% if property.values.expiryDate is not null %}
                        {{ formatDateTime(property.values.expiryDate) }}
                    {% endif %}
                    </br> 
                </label>
            </div>        
        {% endfor %}
    </div>

{% endif %}