<div class="userPaymentCards userPaymentCardData">
    <div class="field identifier">
        {{ languageSheet[constant('Plugins\\ComLogicommerceMultisafepay\\Enums\\LanguageLabels::COM_LOGICOMMERCE_MULTISAFEPAY_IDENTIFIED')] }}:
        {{ pluginPaymentToken.token }}
    </div>
    <div class="field identifier">
        {{ languageSheet[constant('Plugins\\ComLogicommerceMultisafepay\\Enums\\LanguageLabels::COM_LOGICOMMERCE_MULTISAFEPAY_REFERENCE')] }}:
        {{ pluginPaymentToken.data.identifier }}
    </div>
    <div class="field cardNumber">
        {{ languageSheet[constant('Plugins\\ComLogicommerceMultisafepay\\Enums\\LanguageLabels::COM_LOGICOMMERCE_MULTISAFEPAY_CARD_NUMBER')] }}:
        ******{{ pluginPaymentToken.data.cardNumber }}
    </div>
    <div class="field expiryDate">
        {{ languageSheet[constant('Plugins\\ComLogicommerceMultisafepay\\Enums\\LanguageLabels::COM_LOGICOMMERCE_MULTISAFEPAY_EXPIRY_DATE')] }}:
        {{ pluginPaymentToken.data.expiryDate }}        
    </div>
</div>   